.sidePanel {
  position: fixed;
  top: 120px;
  right: 20px;
  width: 200px;
  background-color: #001c24;
  opacity: 0.95;
  font-size: 18px;
  z-index: 99999;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  .plan {
    color: white;
    margin: 10px;
    overflow-y: scroll;
    max-height: 60vh;
    .step {
      padding: 10px 5px;
    }
  }
}
